<!-- Created by MikBac on 24.05.2020-->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="menu-form">
    <form action="#" th:action="@{'/predict/20'}" method="POST" th:object="${questionsList}">
        <fieldset>
            <table>
                <tbody>
                <tr th:each="question, itemStat: *{questions}">
                    <td>
                        <input type="hidden" th:name="|questions[${itemStat.index}].pk|" th:value="${question.pk}"/>
                    </td>
                    <td>
                        <input type="hidden" th:name="|questions[${itemStat.index}].description|"
                               th:value="${question.description}"/>
                    </td>
                    <h4 th:text="${question.description}"></h4>
                    <select class="custom-select" th:name="|questions[${itemStat.index}].userAnswer|">
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_ONE}"
                                th:text="#{main.page.answer.option.degree.one.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_ONE}"></option>
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_TWO}"
                                th:text="#{main.page.answer.option.degree.two.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_TWO}"></option>
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_THREE}"
                                th:text="#{main.page.answer.option.degree.three.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_THREE}"></option>
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_FOUR}"
                                th:text="#{main.page.answer.option.degree.four.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_FOUR}"></option>
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_FIVE}"
                                th:text="#{main.page.answer.option.degree.five.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_FIVE}"></option>
                        <option th:value="${T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_SIX}"
                                th:text="#{main.page.answer.option.degree.six.text}"
                                th:selected="${question.userAnswer == T(pl.uam.movieSelector.data.enums.AnswerEnum).DEGREE_SIX}"></option>
                    </select>
                </tr>
                </tbody>
            </table>
        </fieldset>
        <button type="submit" class="btn btn-lg btn-primary btn-block mb-3"
                th:text="#{main.page.answer.button.text}"></button>
    </form>
</th:block>
</html>