<!DOCTYPE html>
<html th:lang="${language}" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="components/others :: meta"/>
    <title>XXX</title>
    <th:block th:include="components/imports :: links"/>
</head>
<body>
<header>
    <h1>XXX</h1>
</header>
<main>
    XX-XX
    <form>
        <div th:each="question: ${questions}">
            <h4 th:text="${question.question}"></h4>
            <label>
                <select>
                    <option value="POOR">XXX1</option>
                    <option value="FAIR">XXX2</option>
                    <option value="GOOG">XXX3</option>
                </select>
            </label>
        </div>
    </form>
</main>
<footer>
</footer>
<th:block th:include="components/imports :: scripts"/>
</body>
</html>